.flex-container {
    display: flex;
    flex-wrap: wrap;
 }

 .item-container {
    margin-right: 1em;
 }


 .index-card {
    width: 18rem;
 }

.show-image-container {
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.show-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}